@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../../../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../../../fonts/Roboto-Bold.ttf') format('truetype');
}



@layer base {
    :root {
        /* PRIMARIES */
        --primary: 234 122 244;
        --secondary: 98 0 179;
        --ternary: 166 72 140;

        /* NEUTRALS */
        --neutral-100: 250 250 250;
        --neutral-500: 230 230 230;
        --neutral-900: 163 163 163;

        /* GRAYS */
        --gray-100: 255 255 255;
        --gray-500: 128 128 128;
        --gray-900: 0 0 0;

        /* TEXTS */
        --text-100: 87 87 87;
        --text-500: 65 65 65;
        --text-900: 32 32 32;
    }

    .dark {
        /* PRIMARIES */
        --primary: 234 122 244;
        --secondary: 98 0 179;
        --ternary: 166 72 140;

        /* NEUTRALS */
        --neutral-100: 41 41 61;
        --neutral-500: 31 31 46;
        --neutral-900: 9 1 15;

        /* GRAYS */
        --gray-100: 255 255 255;
        --gray-500: 128 128 128;
        --gray-900: 0 0 0;

        /* TEXTS */
        --text-100: 190 195 207;
        --text-500: 207 207 207;
        --text-900: 252 252 252;
    }
}

@layer components {
    .input {
        @apply border border-gray-300 rounded-md shadow-sm px-4 py-2 w-full text-typo-900 dark:text-gray-800;
    }

    .btn {
        @apply flex items-center justify-center gap-2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition;
    }

    .btn-primary {
        @apply btn;
    }

    .btn-fill {
        @apply btn bg-white text-typo-900 dark:text-gray-900 border border-gray-200 hover:bg-gray-100;
    }

    .btn-outline {
        @apply border text-typo-900 border-gray-200 dark:border-gray-600 dark:hover:bg-gray-700 hover:bg-gray-100 rounded-md p-1 flex items-center justify-center;
    }

    .link {
        @apply dark:text-red-400 text-red-600 underline underline-offset-2 decoration-2 decoration-red-300;
    }
}

.checker-background {
    background: #cccccc;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.15) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.15) 0);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}

.htmx-request .youtube-card {
    opacity: .75;
    transition: opacity 250ms ease-in-out;
}

.custom-loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/4px 4px no-repeat,
    conic-gradient(#0000 50%, #ffffff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    animation: s3 0.75s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}
