<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Card Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="YouTube Card Generator">
    <meta property="og:description" content="Generate youtube video card preview for social media and editing.">
    <meta property="og:image" content="https://minia.docstring.app/static/img/screenshot.png">
    <meta property="og:url" content="https://minia.docstring.app">
    <meta property="og:site_name" content="YouTube Card Generator">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="YouTube Card Generator">
    <meta name="twitter:description" content="Generate youtube video card preview for social media and editing.">
    <meta name="twitter:image" content="https://minia.docstring.app/static/img/screenshot.png">
    <meta property="twitter:creator:id" content="@ThibaultHoudon">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script src="https://unpkg.com/htmx.org@latest"></script>

    <script src="https://cdn.jsdelivr.net/npm/html-to-image@1.7.0/dist/html-to-image.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/style.css') }}">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body x-data="youtubeConfig">

<script type="text/javascript">
    (function (window, document, dataLayerName, id) {
        window[dataLayerName] = window[dataLayerName] || [], window[dataLayerName].push({start: (new Date).getTime(), event: "stg.start"});
        var scripts = document.getElementsByTagName('script')[0], tags = document.createElement('script');

        function stgCreateCookie(a, b, c) {
            var d = "";
            if (c) {
                var e = new Date;
                e.setTime(e.getTime() + 24 * c * 60 * 60 * 1e3), d = "; expires=" + e.toUTCString();
                f = "; SameSite=Strict"
            }
            document.cookie = a + "=" + b + d + f + "; path=/"
        }

        var isStgDebug = (window.location.href.match("stg_debug") || document.cookie.match("stg_debug")) && !window.location.href.match("stg_disable_debug");
        stgCreateCookie("stg_debug", isStgDebug ? 1 : "", isStgDebug ? 14 : -1);
        var qP = [];
        dataLayerName !== "dataLayer" && qP.push("data_layer_name=" + dataLayerName), isStgDebug && qP.push("stg_debug");
        var qPString = qP.length > 0 ? ("?" + qP.join("&")) : "";
        tags.async = !0, tags.src = "https://docstring.containers.piwik.pro/" + id + ".js" + qPString, scripts.parentNode.insertBefore(tags, scripts);
        !function (a, n, i) {
            a[n] = a[n] || {};
            for (var c = 0; c < i.length; c++) !function (i) {
                a[n][i] = a[n][i] || {}, a[n][i].api = a[n][i].api || function () {
                    var a = [].slice.call(arguments, 0);
                    "string" == typeof a[0] && window[dataLayerName].push({event: n + "." + i + ":" + a[0], parameters: [].slice.call(arguments, 1)})
                }
            }(i[c])
        }(window, "ppms", ["tm", "cm"]);
    })(window, document, 'dataLayer', 'ddea9094-6d09-49a5-9eee-8ca4a1ed4a6b');
</script>

<div class="dark:bg-neutral-900 flex flex-col 2xl:flex-row items-stretch justify-center"
     :class="darkMode && 'dark'"
     id="main-section">
    <header class="flex justify-center bg-neutral-100 flex-col items-center py-2 md:py-10 gap-8">
        <a href="/">
            <h1 class="text-2xl text-typo-900 xl:text-5xl text-center font-bold">YouTube Card Generator</h1>
        </a>
        <div class="hidden xl:inline px-4">
            {% include 'components/credits.html' %}
        </div>
    </header>
    <main class="flex flex-col gap-2 items-center min-h-screen justify-center w-full h-full bg-gray-100 dark:bg-neutral-500 md:shadow-lg relative">
        <div class="mt-2 absolute top-0 right-2 md:p-2 flex gap-2 items-center">

            <button @click="toggleAppearance" class="btn-outline">
                <i x-show="darkMode" class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">light_mode</i>
                <i x-show="!darkMode" class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">dark_mode</i>
            </button>

            <label for="language" class="block text-sm font-medium leading-6 text-gray-900 sr-only">Language</label>
            <select id="language" name="language"
                    x-model="settings.language"
                    @change="changeLanguage()"
                    class="text-sm block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option value="en">EN</option>
                <option value="fr">FR</option>
                <option value="de">DE</option>
                <option value="ES">ES</option>
                <option value="ja">JA</option>
            </select>
        </div>

        <div class="text-typo-900 p-2 md:p-8 max-w-screen-2xl w-full flex flex-col gap-2 items-center justify-center min-h-[85vh]">
            <p class="hidden md:inline self-start">Based on an idea by <a class="link" href="https://twitter.com/BastiUi">@BastiUi</a>, challenged by <a
                    class="link"
                    href="https://twitter.com/benjamincode">@benjamincode</a>.
            </p>

            <div class="pt-12 md:pt-0 flex flex-col w-full xl:flex-row gap-4 flex-1">
                <!-- YOUTUBE CARD -->
                <section class="flex-1 p-2 xl:p-12 rounded checker-background flex flex-col gap-4 items-center justify-center">

                    <div class="relative h-full flex justify-center items-center" id="loading-placeholder">
                        {% include 'components/card.html' %}
                        <div
                                class="w-full h-full flex absolute inset-0 justify-center items-center htmx-indicator">
                            <lord-icon
                                    src="https://cdn.lordicon.com/jblamcti.json"
                                    trigger="loop"
                                    state="loop-cycle"
                                    colors="primary:#3a3347"
                                    style="width:250px;height:250px">
                            </lord-icon>
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <button id="download-button" class="btn-primary md:btn-fill group">
                            <i class="material-icons text-sm">download</i>
                            <span class="custom-loader hidden"></span>
                            <span>Download</span>
                        </button>
                        <button id="copy-button" class="hidden md:flex btn-primary group">
                            <i class="material-icons text-sm">content_copy</i>
                            <span class="custom-loader hidden"></span>
                            <span>Clipboard</span>
                        </button>
                    </div>
                </section>

                <!-- SETTINGS -->
                <aside class="p-2 md:p-8 flex flex-col gap-2 md:gap-8 border border-gray-100 dark:border-gray-600 rounded shadow-lg divide-y divide-gray-200 dark:divide-gray-600">
                    <div class="flex flex-col gap-2">
                        <h2 class="hidden md:inline text-3xl font-bold">Settings</h2>
                        <label class="block text-sm font-medium mb-1" for="video_url">YouTube URL
                            <input type="text"
                                   hx-trigger="fetchCard from:body"
                                   hx-post="/get-video-info"
                                   hx-target=".youtube-card"
                                   hx-swap="outerHTML"
                                   hx-indicator="#loading-placeholder"
                                   hx-include="[name='language']"
                                   id="video_url"
                                   name="video_url"
                                   class="input"
                                   x-model="videoUrl"
                                   @input="validateAndTriggerRequest"
                                   placeholder="https://www.youtube.com/watch?v=LamjAFnybo0">
                            <small :class="showError || 'invisible'" class="text-red-500">Invalid YouTube URL</small>
                        </label>
                    </div>

                    <div class="flex flex-col pt-4">
                        <h2 class="hidden md:inline text-xl font-bold">UI Elements</h2>
                        <template x-for="(checkbox, index) in settings.checkboxes" :key="index">
                            <label x-show="isVisibleCheckbox(index)"
                                   :class="checkbox.style"
                                   class="flex items-center space-x-3">
                                <input type="checkbox" x-model="checkbox.value"
                                       class="h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-600">
                                <span x-text="checkbox.label" class="text-typo-500"></span>
                            </label>
                        </template>
                    </div>
                    <div class="flex flex-col gap-1 pt-4">
                        <div class="flex justify-between">
                            <h2 class="text-xl font-bold">Styling</h2>
                            <button class="btn-outline group"
                                    :class="allSlidersDefault() ? 'opacity-0 cursor-auto' : 'opacity-100'"
                                    @click="resetAllSliders()">
                                <i class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">restart_alt</i>
                            </button>
                        </div>
                        <template x-for="(slider, index) in settings.sliders" :key="index">
                            <label class="flex items-center justify-between gap-2"
                                   x-show="isVisibleSlider(index)">
                                <input :min="slider.min" :max="slider.max" :step="slider.step" x-model="slider.value" type="range"
                                       class="flex-1 h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 accent-red-600"
                                       id="border-radius-slider"/>
                                <div class=" ml-auto text-left space-x-2">
                                    <span x-text="slider.label" class="text-typo-500"></span>
                                    <span x-text="slider.value" class="text-typo-500"></span>
                                </div>
                                <button class="btn-outline group md:ml-4"
                                        :class="slider.value === slider.default ? 'opacity-0 cursor-auto' : 'opacity-100'"
                                        @click="slider.value = slider.default">
                                    <i class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">restart_alt</i>
                                </button>
                            </label>
                        </template>
                    </div>
                    <div class="flex justify-between gap-2 pt-4">
                        <h2 class="text-xl font-bold">Theme</h2>
                        <div class="flex gap-2">
                            <button class="btn-outline group px-4 py-2"
                                    :class="settings.darkMode ? 'bg-neutral-100' : 'bg-gray-600 hover:bg-gray-600'"
                                    @click="settings.darkMode = !settings.darkMode">
                                <i class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">light_mode</i>
                            </button>
                            <button class="btn-outline group px-4 py-2"
                                    :class="settings.darkMode ? 'bg-gray-600 hover:bg-gray-600' : 'bg-neutral-100'"
                                    @click="settings.darkMode = !settings.darkMode">
                                <i class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">dark_mode</i>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col justify-between gap-2 pt-4">
                        <h2 class="text-xl font-bold">Export size</h2>
                        <label class="flex items-center justify-between gap-2">
                            <input :min="settings.exportSize.min" :max="settings.exportSize.max" :step="settings.exportSize.step"
                                   x-model="settings.exportSize.value" type="range"
                                   @input="formatExportSize()"
                                   class="flex-1 h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 accent-red-600"
                                   id="export-size-slider"/>
                            <div class=" ml-auto text-left space-x-2">
                                <span x-text="'x' + settings.exportSize.value" class="text-typo-500"></span>
                            </div>
                            <button class="btn-outline group"
                                    :class="parseInt(settings.exportSize.value) === settings.exportSize.default ? 'opacity-0 cursor-auto' : 'opacity-100'"
                                    @click="resetExportSize()">
                                <i class="material-icons transition-transform duration-200 ease-in-out group-hover:-rotate-45">restart_alt</i>
                            </button>
                        </label>
                        <p class="text-typo-100 text-sm" x-text="exportSizeText"></p>
                    </div>
                </aside>
            </div>
        </div>
    </main>

    <footer class="xl:hidden p-4">
        {% include 'components/credits.html' %}
    </footer>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
