<article class="p-4 youtube-card"
         :class="settings.darkMode ? 'bg-gray-900' : 'bg-white'"
         :style="{ borderRadius: (parseInt(settings.sliders.borderRadius.value) + 8) + 'px' }">
    <div :style="{ padding: settings.sliders.thumbPadding.value + 'px' }"
         class="thumb-padding flex flex-col gap-2 w-full max-w-lg rounded-lg">
        <div class="relative">
            <div :style="{ borderRadius: settings.sliders.borderRadius.value + 'px' }"
                 class="overflow-clip thumbnail-cropper">
                {% include 'components/thumbnail.html' %}
            </div>
            {% include 'components/duration.html' %}
        </div>

        <div class="flex gap-4 items-start">
            {% include 'components/logo.html' %}

            <div class="flex flex-col">
                {% include 'components/title.html' %}
                <div :style="{fontSize: settings.sliders.infosSize.value + 'px'}" class="infos">
                    {% include 'components/channel_name.html' %}
                    <div class="flex gap-1">
                        {% include 'components/view_count.html' %}
                        {% include 'components/publication_date.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>